#container1 { grid-area: header; }
#container2 { grid-area: menu; }
#container3 { grid-area: main; }

#container{
 display: grid;   
  grid-template-areas:
    'header header  menu menu'
    'header header  menu menu'
    'main main  menu menu'
    'main main  menu menu';
  gap: 1px;
  background-color: #f6f9fb;
  padding:10px;
}
 
  /* border: 3px solid black; */
            
        
#container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  outline: 1px solid black;
  font-size: 20px;
}
#cenetring{
    margin-top: 100px;
}

    